/* CSS Document */
html, body, div, h1, ul, li, a, p, article
{
	margin: 0;
	padding: 0;
	text-decoration: none;	
	word-wrap: break-word;
}

body {
	background-color: #4D4D4D;
}

input[type="text"] {
	width : 240px;
	margin-left: 30px;
}

ul {
	margin-top: 20px;
	list-style-type: none;
}

button {
	margin-top: 10px;
	margin-left: 194px;
	width : 80px;
}

p {
	color : white;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 30px;
}