/* CSS Document */
html, body, div, h1, ul, li, a, p, article
{
	margin: 0;
	padding: 0;
	text-decoration: none;	
	word-wrap: break-word;
}

body {
	background-color: #4D4D4D;
}

.main-content .welcome-message {
	margin-top: 10px;
	margin-left: 5%;
	font-size: 36px;
	color : white;
	float: left;
}

.main-content .logout {
	color : white;
	float : right;
	margin-right: 1%;
}

.main-content .login-page, .main-content .register-page {
	margin-left : 5%;
	width : 40%;
}

.main-content label {
	line-height: 34px;
	color : white;
	font-size: 16px;
	margin-right: 20%;
}

.main-content .text-box {
	width : 80%;
	display : block;
}

.main-content .button {
	width : 40%;
}

.main-content .login-page .button, .main-content .register-page .button {
	margin-top : 10px;
	float : right;
	margin-right: 20%;
}

.main-content .getpost-page {
	margin-left : 5%;
	width : 80%;
}

.main-content .getpost-page .text-box {
	width : 40%;
	display : block;
}


.main-content .getpost-page .button {
	margin-top : 10px;
	width : 20%;
	float : right;
	margin-right: 60%;
	display:block;
}

.getpost-page .k-grid {
	margin-top:50px;
	width:100%;
}
