/* CSS Document */
html, body, h1, h2
{
	margin: 0;
	padding: 0;
	text-decoration: none;	
	word-wrap: break-word;
}

h1, h2 {
	font-size: 20px;
}

input[type="text"].Task4  {
	width: 600px;
}

button.Task1  {
	width: 200px;
}

code {
	background-color: #ccc;
	display: inline-block;
}

code span {
	color: red;
}

code ul
{
	list-style-type : none;
}